.container {
  padding: 0.8rem 2rem;
}

.cart {
  overflow: hidden;
  background: #fdcf0e;
  box-shadow: 0px 0px 8px 0px #868282;
  font-weight: bold;
  text-align: left;
}

.cart-product {
  display: flex;
  position: relative;
  padding: 1rem 0.9em 1.2rem 0.7rem;
  margin: 0.1rem 0;
  background: #c59e09;
  list-style: none;
  font-size: 0.9rem;
}

.cart-product img {
  align-self: center;
  height: 4.2rem;
  border: 1px solid black;
  border-radius: 1px;
}
.cart-product button {
  position: absolute;
  top: 7px;
  right: 18px;
  border: none;
  background: transparent;
  font-weight: bold;
  font-size: 1rem;
  outline: none;
  cursor: pointer;
}

.cart-text {
  margin: 0 1rem;
}

.cart-name {
  width: 20rem;
  color: white;
}

.cart-text p {
  margin: 0.3rem 0.4rem;
}

.subtotal,
.subtotal-value {
  margin: 0.3rem 1.3rem;
}

.subtotal {
  border-bottom: 1px solid #444444;
  text-align: right;
}
.subtotal-value {
  text-align: right;
}

ul {
  padding: 0;
}

.cards {
  list-style: none;
  padding: 1.5rem;
  border-radius: 4px;
  background: white;
  margin: 1rem 0;
  box-shadow: #d6d6d6 0px 1px 4px 1px;

  display: flex;
  flex-wrap: wrap;
}

.product-img {
  flex-grow: 1;

  display: flex;
  flex-wrap: wrap;
  align-self: center;
  padding: 0.1rem;
}

.product-images {
  width: 1.9rem;
  margin-right: 2rem;
}

.product-images :first-child {
  border: 1px solid #f8da51 !important;
}

#s-img {
  border-radius: 3px;
  border: 1px solid #f2f2f2;
  height: 1.9rem;
}

.product-images img {
  height: 1rem;
}

.product-img img {
  height: 10.5rem;
}

.card-info {
  flex-grow: 1;
}

.product-name {
  margin: 0;
  max-width: 36rem;
  text-align: left;
  color: #444444;
  font-size: 1.29rem;
  font-weight: 400;
}

.heart {
  font-size: 1.3rem;
  color: #fdcf0e;
  margin: 5px 0 -5px 5px;
}

.price-value {
  display: flex;
  font-size: 0.8rem;
  font-weight: 300;
  margin-top: 5px;
}

.price {
  color: #50b447;
  font-weight: 600;
  margin: 0 5px;
}

.installments {
  display: flex;
  align-items: baseline;
  color: #50b447;
  font-weight: 600;
  font-size: 1.2rem;
}

.installment-value {
  font-size: 1.8rem;
  font-weight: 500;
  margin-left: 5px;
}

.product-prices {
  display: flex;
  flex-wrap: wrap;
  padding: 0.3rem 0;
  margin: 0.9rem 0.3rem 0 0.3rem;
  border-top: 1.4px solid #ebe8e8;
}

.arrow-tag {
  display: flex;
}

.arrow-tag p {
  background-color: #1c8ee2;
  width: 5rem;
  padding: 5px 2px 5px 1px;
  color: white;
  border-radius: 3px;
  font-size: 0.5rem;
  font-weight: 500;
}

.arrow-tag img {
  width: 1.27rem;
  position: relative;
  margin-left: -10.3px;
}

.card-product-button {
  flex-grow: 1;
  align-self: center;
  text-align-last: right;
  margin: 1rem 0 0 0.7rem;
  cursor: pointer;
}

.cards button {
  padding: 8px 8px;
  border: none;
  border-radius: 3px;
  background: #50b447;
  color: white;
  font-size: 0.74rem;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}

.cards button:hover {
  background: #45993e;
}

.arrow {
  margin: 2px 0 -2px 5px;
}

@media (max-width: 640px) {
  .cart-product img {
    height: 3.5rem;
  }

  .cart-name {
    width: 12rem;
  }

  .card-product-button {
    flex-grow: 0;
    cursor: pointer;
  }

  .product-name,
  .installments,
  .heart {
    font-size: 1rem;
  }
}

@media (min-width: 1025px) {
  .product-name {
    width: 36rem;
  }
}
