.container {
  padding: 0.8rem 2rem;
}

.amount {
  position: relative;
}

.amount-text {
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  bottom: 44%;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
}

.amount img {
  width: 1.9rem;
}

.cart {
  font-weight: bold;
  text-align: left;
}

.cart-name {
  color: white;
}

.cart-product {
  position: relative;
  padding: 1rem 2rem;
  margin: 0.1rem 0;
  background: rgba(0, 0, 0, 0.12);
}
.cart-product button {
  position: absolute;
  border: none;
  background: transparent;
  font-weight: bold;
  font-size: 1.4rem;
  top: 7px;
  right: 18px;
  outline: none;
}

.subtotal {
  border-bottom: 1px solid black;
  text-align: right;
}
.subtotal-value {
  text-align: right;
}

ul {
  padding: 0;
}

.cards {
  list-style: none;
  padding: 1rem;
  border-radius: 4px;
  background: white;
  margin: 1rem 0;
  box-shadow: #d6d6d6 0px 1px 4px 1px;

  display: flex;
  flex-wrap: wrap;
}

.product-img {
  flex-grow: 1;
  align-self: center;
  padding: 0.1rem;
}

.product-img img {
  height: 9rem;
}

.product-name {
  max-width: 36rem;
  text-align: left;
  color: #444444;
  font-size: 1.3rem;
  font-weight: 400;
}

.heart {
  font-size: 1.5rem;
  color: #fdcf0e;
  margin: 5px 0 -5px 5px;
}

.price-value {
  display: flex;
  font-size: 0.8rem;
  font-weight: 300;
  margin-top: 5px;
}

.price {
  color: #50b447;
  font-weight: 600;
  margin: 0 5px;
}

.installments {
  display: flex;
  align-items: baseline;
  color: #50b447;
  font-weight: 600;
  font-size: 1.2rem;
}

.installment-value {
  font-size: 1.8rem;
  font-weight: 500;
  margin-left: 5px;
}

.product-prices {
  display: flex;
  flex-wrap: wrap;

  margin: 10px 5px 0px 5px;
  border-top: 1.4px solid #ebe8e8;
}

.arrow-tag {
  display: flex;
}

.arrow-tag p {
  background-color: #1c8ee2;
  width: 5rem;
  padding: 5px 2px 5px 1px;
  color: white;
  border-radius: 3px;
  font-size: 0.5rem;
  font-weight: 500;
}

.arrow-tag img {
  width: 1.27rem;
  position: relative;
  margin-left: -10.3px;
}

.card-product-button {
  flex-grow: 1;
  align-self: center;
  text-align-last: right;
}

.cards button {
  padding: 8px 8px;
  border: none;
  border-radius: 3px;
  background: #50b447;
  color: white;
  font-size: 0.74rem;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}

.cards button:hover {
  background: #45993e;
}

.arrow {
  margin: 2px 0 -2px 5px;
}
