@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");

body {
  background: #f2f2f2;
  color: #444444;
  margin: 0;
}

.App {
  font-family: "Montserrat";
  text-align: center;
}

.container {
  padding: 0.8rem 0.7rem;
}

.amount {
  position: relative;
}

.amount-text {
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  bottom: 44%;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
}

.amount img {
  width: 1.9rem;
}

.products {
  font-weight: bold;
  text-align: left;
}
.products p {
  color: black;
}

.product p {
  color: white;
}
.product {
  position: relative;
  padding: 1rem 2rem;
  margin: 0.1rem 0;
  background: rgba(0, 0, 0, 0.12);
}
.product button {
  position: absolute;
  border: none;
  background: transparent;
  color: black;
  font-weight: bold;
  font-size: 1.4rem;
  top: 7px;
  right: 18px;
}

.subtotal {
  padding: 0.2rem;
  border-bottom: 1px solid black;
  text-align: right;
}

ul {
  padding: 0;
}

.cards {
  list-style: none;
  padding: 1rem;
  border-radius: 4px;
  background: white;
  margin: 1rem 0;
  box-shadow: #d6d6d6 0px 1px 4px 1px;
}

.cards p {
  font-size: 1.5rem;
  font-weight: 500;
}

.heart {
  font-size: 1.5rem;
  color: #fdcf0e;
  margin: 5px 0 -5px 5px;
}

.green-text {
  color: #50b447;
  font-weight: 600;
  font-size: 1.5rem;
}

.card-prices {
  border-top: 1.4px solid #ebe8e8;
  margin: 10px 5px;
}

.arrow-tag {
  display: flex;
}

.arrow-tag p {
  background-color: #1c8ee2;
  width: 6.5rem;
  padding: 7.8px 2px 7.8px 1px;
  color: white;
  border-radius: 4px;
  font-size: 0.6rem;
  font-weight: 500;
}

.arrow-tag img {
  width: 1.6rem;
  position: relative;
  margin-left: -13.3px;
}

.card-prices span {
  font-weight: 500;
  font-size: 1.1rem;
}

.cards button {
  padding: 10px 8px;
  border: none;
  border-radius: 3px;
  margin: 10px 20px;
  background: #50b447;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.cards button:hover {
  background: #45993e;
}

.arrow {
  margin: 2px 0 -2px 5px;
}
