nav {
  display: flex;
  min-height: 4.8rem;
  background-color: #fdcf0e;
}

h1,
h3 {
  color: #81b0f1;
}
nav .logo {
  width: 7.8rem;
  margin: 0px 0px -8px 10px;
}

nav .menu-btn {
  position: absolute;
  align-self: center;
  right: 32px;
  width: 1.7rem;
}

.amount {
  position: absolute;
  right: 49px;
  top: 4%;
}

.amount-text {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  bottom: 23%;
  color: white;
  font-weight: bold;
  font-size: 1rem;
}

.amount img {
  width: 1.4rem;
}

@media (max-width: 640px) {
  .amount {
    top: 6.3%;
  }
}
